/* Advantages section */
.advantages-block,
.ourwork-block {
  background-color: var(--primary-white-color);
}
.advantages-items {
  display: flex;
  justify-content: space-between;
}
.advantages-items__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--mainbgrtwo-color);
  border-radius: 4px;
}
.advantages__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: var(--main-font);
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages__text {
  padding-bottom: 3px;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.72;
  /* or 171% */
  letter-spacing: 0.03em;
}
