/* Clients */
.clients-section {
  background-color: var(--primary-white-color);
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients-card {
  background-color: var(--primary-white-color);
  margin-left: 30px;
  margin-top: 30px;

  flex-basis: calc((100% - 180px) / 6);
  align-items: center;

  border-radius: 0px 0px 4px 4px;
}

.clients-title {
  margin-bottom: 50px;

  font-family: var(--main-font);
  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icons-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.card-border:hover,
.card-border:focus {
  color: var(--accent-color);
  fill: currentColor;
  border: 1px solid currentColor;
}
