/* ------------- Footer ------------- */
/* Footer page */
.footer-page {
  background-color: var(--darkbgr-color);
}
.footer-block {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-block {
  width: 206px;
}
/* Logo footer */
.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: var(--logo-font);
  /* font-weight: 700; */
  font-size: 24px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.03em;
}
/* Adress footer */
.adress {
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.72;
  /* or 171% */
  letter-spacing: 0.03em;
  /* Adress - not italic font-style */
  font-style: normal;

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.adress-item {
  line-height: 1.54;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

/* Contacts footer */
.map-footer {
  color: var(--primary-white-color);
}
.email-footer,
.phone-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------------------------- */
/* Subscribe block */
/* ------------------------------------- */
.footer-subscribe-block {
  padding-top: 12px;
  margin-left: auto;
}
.subscr-group {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
}
.subscribe-title {
  margin-bottom: 20px;
  font-family: var(--main-font);

  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.input-box {
  margin-right: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}
.button-subscribe {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 0;
  padding: 10px 28px 10px 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  /* font-weight: 700; */
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
  /* outline: none; */

  &:hover,
  &:focus {
    background-color: var(--accentbgr-color);
  }
}
.subscr-text {
  margin-right: 10px;
}
// Smartphone viewport 0px - 479px

@media screen and (max-width: 479px) {
  .footer-block {
    display: block;
  }
  .logo-adress {
    margin-bottom: 60px;
  }
  .logo-footer {
    display: block;
    text-align: center;
  }
  /* Contacts footer */
  .map-footer,
  .email-footer,
  .phone-footer {
    text-align: center;
  }
  .footer-social-block {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .footer-subscribe-block {
    display: block;
    margin: 0 auto;
    padding-top: 0;
  }
  .subscribe-title {
    text-align: center;
  }
  .subscr-group {
    display: block;
    text-align: center;
  }
  .label-email {
    width: min-content;
  }
  .button-subscribe {
    margin: 0 auto;
  }

  .adress-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// Smartphone viewport from 480px - 767px

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-block {
    display: block;
  }
  .logo-adress {
    margin-bottom: 60px;
  }
  .logo-footer {
    display: block;
    text-align: center;
  }
  /* Contacts footer */
  .map-footer,
  .email-footer,
  .phone-footer {
    text-align: center;
  }
  .footer-social-block {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .footer-subscribe-block {
    display: block;
    margin: 0 auto;
    padding-top: 0;
  }
  .subscribe-title {
    text-align: center;
  }
  .subscr-group {
    display: block;
    text-align: center;
  }

  .button-subscribe {
    margin: 0 auto;
  }
  .input-box {
    padding: 10px;
    width: 450px;
  }
  .adress-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// Tablet Viewport from 768px to 1199px

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-adress {
    padding-right: 165px;
    margin-bottom: 60px;
  }
  .logo-footer {
    text-align: center;
    // font-size: 24px;
    // line-height: 1.16;
  }
  /* Contacts footer */
  .map-footer,
  .email-footer,
  .phone-footer {
    text-align: center;
  }
  .footer-social-block {
    padding-top: 5px;
    text-align: center;
  }
  .footer-subscribe-block {
    display: block;
    margin: 0 auto;
    padding-top: 0;
  }
  .subscribe-title {
    text-align: center;
  }
  .subscr-group {
    display: block;
  }
  .button-subscribe {
    margin: 0 auto;
  }
  .input-box {
    padding: 10px;
    width: 450px;
  }
  .adress-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// Desktop viewport from 1200px

@media screen and (min-width: 1200px) {
  .logo-adress {
    padding-right: 70px;
  }
  .footer-social-block {
    padding-top: 12px;
  }
  /* Logo footer */
  .logo-footer {
    font-size: 26px;
    line-height: 1.2;
  }
  .adress-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .input-box {
    width: 358px;
    height: 50px;
    padding: 15px 15px 15px 16px;
    margin-right: 12px;
  }
}
