/* Modal form - inside elements */

// Smartphone viewport 0px - 479px

@media screen and (max-width: 479px) {
  .form-modal {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    margin-bottom: 12px;
    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .form-field {
    position: relative;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    .form-modal &:not(:nth-child(5)) {
      margin-bottom: 10px;
    }
  }

  .form-field-wrapper {
    position: relative;
    margin-top: 2px;
    display: block;
  }
  .form-input {
    width: 100%;
    height: 35px;

    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-block-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--title-text-color);

    .form-input:focus + & {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-message {
    width: 100%;
    height: 70px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-checkbox-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    /* identical to box height, or 171% */
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    &::before {
      content: "";
      // display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      width: 27px;
      height: 15px;
      border: 1px solid var(--title-text-color);
      cursor: pointer;
    }
    .form-checkbox:focus + &::before {
      border: 1px solid var(--accent-color);
    }
    .form-checkbox:checked + &::before {
      border: none;
      background-image: url(../images/icon-check.png);
      /* background-size: 16px 15px; */
    }
  }

  .form-checkbox-title-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    /* identical to box height, or 171% */
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: var(--accent-color);

    &:focus {
      outline-color: var(--accent-color);
    }
  }

  .form-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: 0;
    padding: 10px 55px 10px 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;

    color: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--accentbgr-color);
      outline-offset: 2px;
      outline-color: var(--accent-color);
    }
  }
}

// Smartphone & Tablet Viewport from 480px to 768px to 1199px

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-modal {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    margin-bottom: 12px;
    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .form-field {
    position: relative;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    .form-modal &:not(:nth-child(5)) {
      margin-bottom: 10px;
    }
  }

  .form-field-wrapper {
    position: relative;
    margin-top: 4px;
    display: block;
  }
  .form-input {
    width: 100%;
    height: 40px;

    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-block-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--title-text-color);

    .form-input:focus + & {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-checkbox-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    /* identical to box height, or 171% */
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      width: 16px;
      height: 15px;
      border: 1px solid var(--title-text-color);
      cursor: pointer;
    }
    .form-checkbox:focus + &::before {
      border: 1px solid var(--accent-color);
    }
    .form-checkbox:checked + &::before {
      border: none;
      background-image: url(../images/icon-check.png);
      /* background-size: 16px 15px; */
    }
  }

  .form-checkbox-title-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);

    &:focus {
      outline-color: var(--accent-color);
    }
  }

  .form-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: 0;
    padding: 10px 55px 10px 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;

    color: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--accentbgr-color);
      outline-offset: 2px;
      outline-color: var(--accent-color);
    }
  }
}
// Desktop viewport from 1200px

@media screen and (min-width: 1200px) {
  .form-modal {
    display: flex;
    flex-direction: column;
  }

  .form-title {
    margin-bottom: 12px;
    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .form-field {
    position: relative;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    .form-modal &:not(:nth-child(5)) {
      margin-bottom: 10px;
    }
  }

  .form-field-wrapper {
    position: relative;
    margin-top: 4px;
    display: block;
  }
  .form-input {
    width: 100%;
    height: 40px;

    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-block-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--title-text-color);

    .form-input:focus + & {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .form-checkbox-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7px;
      width: 16px;
      height: 15px;
      border: 1px solid var(--title-text-color);
      cursor: pointer;
    }
    .form-checkbox:focus + &::before {
      border: 1px solid var(--accent-color);
    }
    .form-checkbox:checked + &::before {
      border: none;
      background-image: url(../images/icon-check.png);
      /* background-size: 16px 15px; */
    }
  }

  .form-checkbox-title-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);

    &:focus {
      outline-color: var(--accent-color);
    }
  }

  .form-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: 0;
    padding: 10px 55px 10px 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: var(--main-font);
    /* font-weight: 700; */
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;

    color: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--accentbgr-color);
      outline-offset: 2px;
      outline-color: var(--accent-color);
    }
  }
}
