/* Common Tags */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
}
/* Margin 0 for h1,h2,...,h6,p */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Margin 0, padding 0 for ul,ol */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/* Link and list */
.link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.list {
  list-style: none;
}
/* Common fonts */
.logo,
.hero-button,
.advantages-title,
.ourwork-title,
.ourteam-title,
.clients-title,
.logo-footer,
.project-title,
.button-subscribe,
.form-button,
.form-title,
.ourwork-label,
.subscribe-title,
.social-block-title {
  font-weight: 700;
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Transition for hover, focus */
.link,
.hero-button,
.social-item.link,
.filters .item,
.button-subscribe,
.input-box,
.form-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: color var(--transition-option-slow-750),
    fill var(--transition-option-slow-750), border var(--transition-option-slow-750),
    background-color var(--transition-option-slow-750),
    box-shadow var(--transition-option-slow-750); */
}
