// Smartphone viewport 0px - 479px

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Smartphone viewport from 480px - 767px

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Tablet Viewport from 768px to 1199px

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Desktop viewport from 1200px

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
