:root {
  /* Colors */
  /* -------------------------------- */
  /* Black */
  --primary-text-color: #000000;
  /* 2nd gray */
  --secondary-text-color: #757575;
  /* White */
  --primary-white-color: #ffffff;
  /* Title black */
  --title-text-color: #212121;
  /* Accent blue */
  --accent-color: #2196f3;
  /* Background Accent blue */
  --accentbgr-color: #188ce8;
  /* Hero, footer background color */
  --darkbgr-color: #2f303a;
  /* Main background color*/
  --mainbgr-color: #e5e5e5;
  /* 2nd Main background color */
  --mainbgrtwo-color: #f5f4fa;
  /* Icons main color */
  --icons-color: #afb1b8;
  /* Icons bgr color */
  --icons-bgr-color: rgba(255, 255, 255, 0.1);
  /* Fonts */
  /* -------------------------------- */
  /* Logo Font */
  --logo-font: Raleway;
  /* Main Font */
  --main-font: Roboto;
  /* -------------------------------- */
  /* Overlay and Animations */
  /* Standard transition */
  --transition-option-250: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Slow transition */
  --transition-option-slow-750: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
